<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.product.mapper.SkuSaleAttrValueMapper">
    <!--定义返回集合类型-->
    <resultMap id="skuSaleAttrValueMap" type="java.util.Map" autoMapping="true">

    </resultMap>
    <!--准备执行sql 语句-->
    <select id="selectSaleAttrValuesBySpu" resultMap="skuSaleAttrValueMap">
        select group_concat(sale_attr_value_id order by base_sale_attr_id separator '|') values_ids,sku_id
                from sku_sale_attr_value ssav inner join spu_sale_attr_value sp
                on ssav.sale_attr_value_id = sp.id
                where ssav.spu_id=#{spuId}
                group by sku_id;
    </select>
</mapper>